* {
  font-family: Inter;
}
body {
  background: $main-bg-color;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 1150px;
  margin: 0 auto;
}
body::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 1);
}
body::-webkit-scrollbar-thumb {
  background: radial-gradient(
    circle,
    rgba(255, 215, 110, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 2px;
}
.btn {
  @include btn();

  &:hover {
    color: $text-color;
    background-color: $main-bg-color;
    box-shadow: 0 0 20px 2px $second-color;
  }
}
.title {
  @include title($second-color, 64px);
}
.descr {
  @include descr(24px, $text-color);
}
